@{
    ViewData["Title"] = "Performance Metrics";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Session ID</th>
            <th scope="col">Page ID</th>
            <th scope="col">Start Timestamp</th>
            <th scope="col">End Timestamp</th>
            <th scope="col">Request Timestamp</th>
            <th scope="col">Response Timestamp</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">001</th>
            <td>001</td>
            <td>2022-02-23 22:19:32</td>
            <td>2022-02-23 23:00:13</td>
            <td>2022-02-23 22:19:32</td>
            <td>2022-02-23 22:19:45</td>
            <td>Wednesday, Feb 23</td>
        </tr>
        <tr>
            <th scope="row">002</th>
            <td>002</td>
            <td>2022-02-27 05:29:45</td>
            <td>2022-02-27 05:49:55</td>
            <td>2022-02-27 05:29:45</td>
            <td>2022-02-27 05:29:50</td>
            <td>Sunday, Feb 27</td>
        </tr>
        <tr>
            <th scope="row">003</th>
            <td>003</td>
            <td>2022-03-01 14:02:15</td>
            <td>2022-03-01 14:49:44</td>
            <td>2022-03-01 14:02:15</td>
            <td>2022-03-01 14:02:25</td>
            <td>Tuesday, Mar 1</td>
        </tr>
    </tbody>
</table>