@{
    ViewData["Title"] = "Performance Metrics";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Averages</th>
            <th scope="col">Sums</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>x</td>
            <td>x</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>x</td>
            <td>x</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>x</td>
            <td>x</td>
        </tr>
    </tbody>
</table>